h1{
	text-align: center
}

#canvas_wrap{
	position: relative;
	background-color: grey;
	width: 1414px;
	height: 1014px;
	margin: 0 auto;
}

#experiment{
	position: absolute;
	background-color: white;
	margin: 7px 7px;
	z-index: 0
}

#bubble{
	position: absolute;
	margin: 7px 7px;
	z-index: 10
}